html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.snowflake {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	pointer-events: none;
	transform-origin: center;
	opacity: 0; /* Initially set opacity to 0 */
}
